@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
    background-color: #eef2f7;
    color: #2c3e50;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
    color: #2c3e50;
  }
}
